.centered {
    position: absolute !important;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.bugTable{
    position: absolute !important;
    /*top: 50%;*/
    /*left: 50%;*/
    /*!* bring your own prefixes *!*/
    /*transform: translate(-50%, -45%);*/
    margin: 0 auto;
}

.addBug{
    position: absolute !important;
    top: 50%;
    left: 50%;

    /* bring your own prefixes */
    transform: translate(-50%, -45%);
    margin: 0 auto;
}


html,body{
    width: 100%;
    height: 100%;
    margin:0;
    background-color: #121212;
    /*overflow-y: scroll;*/

}

.imagine{
    background-size: contain;
    background-color: #121212;
    background-repeat: no-repeat ;
    background-position: bottom right;
}

.title{
    color: darkgoldenrod;
    font-family: Georgia, sans-serif, Calibri;
    font-size: 30px;
    position: center;
}

.myFont{
    font-family: Georgia, sans-serif, Calibri;
    color: darkgoldenrod;
    font-size: 20px;
}

.aButton{
    width: 200px;
    height: 30px;
}

form{
    text-align: center;
}

#afisareListaFilmeDiv {
    margin: 16px;
}

.label {
    width:50%;
    padding:4px;
}

.value {
    width:50%;
    padding:4px;
}
.grid {
    width:100%;
}

.error {
    color: red;
}

.outputLabel {
    font-weight: bold;
}

.grid {
    width:33%;
    padding:4px;
}

.ui-widget-overlay {
    opacity: 100% !important;
}

.addUserDialogStyle.ui-dialog .ui-dialog-content{
    height: fit-content;
    width: fit-content;

}
.addBugDialogStyle.ui-dialog .ui-dialog-content{
    height: content-box ;
    width: content-box ;

}

.centered2 {
    width: max-content;
    height: max-content;
    position: absolute !important;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.homepageCommandLinks {
    padding: 40px;
    margin: 12px;
    border: 1px solid goldenrod;
    border-radius: 30px;
    color: goldenrod;
    size: 30px;
}

.homepageCommandLinks:hover {
    padding: 40px;
    margin: 12px;
    border: 2px solid rgb(255, 179, 0);
    border-radius: 30px;
    box-shadow: 0 0 5px rgb(255, 179, 0);
    color: rgb(255, 179, 0);
    size: 32px;
}

.centered3 {
    width: fit-content;
    height: fit-content;
    position: absolute; !important;
    top: 12%;
    left: 43%;
    margin: 0 auto;
}

.imagine {
    width: 10%;
    height: 18%;
    position: absolute !important;
    bottom: 1%;
    right: 1%;
    margin: 0 auto;
}
